populations/population_10.txt
populations/population_100.txt
populations/population_110.txt
populations/population_120.txt
populations/population_20.txt
populations/population_30.txt
populations/population_40.txt
populations/population_50.txt
populations/population_60.txt
populations/population_70.txt
populations/population_80.txt
populations/population_90.txt
helpers/__pycache__/__init__.cpython-39.pyc
helpers/__pycache__/geneticAlgorithm.cpython-39.pyc
helpers/__pycache__/neuralNetwork.cpython-39.pyc
helpers/__pycache__/snake.cpython-39.pyc
helpers/__pycache__/snakeGame.cpython-39.pyc
helpers/__pycache__/snakeGameGATest.cpython-39.pyc
helpers/__pycache__/snakeGameGATrain.cpython-39.pyc
.Rhistory
.DS_Store
GAdata.txt
ga_data.csv
assessment_helpers/GAdata.txt
assessment_helpers/ga_data.csv