@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

 body{
	background-color: rgb(40,40,40);
	color: rgb(31,240,12);
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	line-height: 1.5;

}



.center{
	text-align: center;
}


#heading{
	margin-top: 120px;
	font-size: 60px;
}

#sub_heading{
	margin-top: 50px;
	font-size: 35px;
	animation-delay: .5s;
}


#gif{
	display: block;
	margin: 50px auto;
	animation-delay: 1s;
	width: 550px
	
}

#author_text{
	animation-delay: 1.5s;
	margin-bottom: 120px;
	font-size: 25px;
}

#main_content{
	margin: auto 20%;
}

.question{
	font-size: 30px;
}

.question, .answer{
	margin: 30px auto;
}

.answer{
	text-indent: 20px;
}

.link{
	color: rgb(0,140,186);
}

#final_note{
	font-size: 25px;
}

video, #snake_space{
	display: block;
	margin: 0 auto;
	width: 400px;
}